<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{t 'common.system_name'}}</title>
    <link href='/vendor/css/bootstrap.min.css' rel='stylesheet' />
    <link rel='stylesheet' href='/vendor/css/bootstrap-icons.min.css' />
    <script src='/vendor/js/jquery.min.js'></script>

  </head>
  <body>
    {{> header}}
    <div class='container-fluid'>
      <div class='row'>
        {{> sidebar}}
        <div class='col-md-9 col-lg-10'>
          <div class='container mt-4'>
            {{{body}}}
          </div>
        </div>
      </div>
    </div>
    <script src='/vendor/js/bootstrap.bundle.min.js'></script>

  </body>
</html>