<h1>{{t 'error.title'}}</h1>
<p>{{message}}</p>
<ul>
  {{#each response.message}}
    <li>{{this}}</li>
  {{/each}}
</ul>
<p>{{t 'error.redirect_tip'}}</p>

<script>
  setTimeout(() => window.history.back(), 3000)
</script>